{% extends "layout.html" %}
{% block content %}
<div class="answer">
    {% if answered == correct %}
        <h4> Congratulations! You got it right +1 point </h4>
    {% else %}
        <h4> Sorry, the correct answer is: <br><br><b><u>{{ correct }} </u></b></h4>
    {% endif %}   
    <form action ='/run' method= 'POST'>
    </div>
    <br>
    <button type = "submit" value="next" class="btn btn-primary btn-forms btn-answer">
    Next    <i class="fa fa-arrow-right"></i>
    </form>
</button>
{% endblock %}
