<!DOCTYPE html>
<html>
    <head>
        <title>Trivia Game</title>
    </head>
    <body>
         <form action ='/questions' method= 'POST'>
    <fieldset>
      <div>
      <input type = "radio" value= "easy" name = "difficulty" required /> easy
      </div>
      <div>
      <input type = "radio" value= "medium" name = "difficulty" required /> medium
      </div>
      <div>
      <input type = "radio" value= "hard" name = "difficulty" required /> hard
      </div>
     
    <input type = "submit" value="submit"/>
    </fieldset>
    </form>
    </body>
</html>