{% extends "layout.html" %}
{% block content %}
<h2>Choose Difficulty</h2> 
  <form action ='/questions' method= 'POST'>
    <fieldset>
      <div>
      <input type = "radio" value= "easy" name = "difficulty" required /> easy
      </div>
      <div>
      <input type = "radio" value= "medium" name = "difficulty" required /> medium
      </div>
      <div>
      <input type = "radio" value= "hard" name = "difficulty" required /> hard
      </div>
    </fieldset>
    <button type = "submit" value="submit" class="btn btn-primary btn-forms btn-difficulty">
      <i class="fa fa-paper-plane"></i>  Submit
    </button>
  </form>
{% endblock %}
