{% extends "layout.html" %}
{% block content %}
    <form action ='/answered' method= 'POST'>
    <div class="question">
      Question: {{ n }}      <br>    
      Correct: {{c}} /{{t}} <br> <br>
      {{ question['question'] }}<br><br>
      {% for i in options %}
        <div class="options">
        <input type= "radio" value = '{{ i }}' name = "{{question['id']}}" required />{{ i }}
        </div>
      {% endfor %} 
    </div>
    <button type = "submit" value="submit" class="btn btn-primary btn-forms">
      <i class="fa fa-paper-plane"></i>  Submit
    </button>
    </form>
{% endblock %}
