{% extends "layout.html" %}
{% block content %}
<h2>Choose the # of questions:</h2>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
        <fieldset class="form-group">
        <div class="form-group">
            {{ form.question.label(class="form-control-label") }}
            {% if form.question.errors %}
            {{ form.question(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.question.errors%}
                    <span>{{error}}</span>
                {% endfor %}
        </div>
        {% else %}
            {{ form.question(class="form-control form-control-lg") }}
        {% endif %}
        </div>
        </fieldset>
        <button type = "submit" value="submit" class="btn btn-primary btn-forms">
        <i class="fa fa-paper-plane"></i>  Submit
        </button>
    </form>
{% endblock %}
