<!DOCTYPE html>
<html>

<head>
  
</head>

<body>
    <form action ='/answered' method= 'POST'>
    <fieldset>
      {{ data[current_question][ 'question'] }}
      <div>
      <input type = "radio" value= "{{ data[current_question]['correctAnswer'] }}" name = "{{data[current_question]['id']}}" required /> {{ data[current_question]['correctAnswer'] }}
      </div>
     
      {% for i in data[current_question]['incorrectAnswers']%}
          <div>
          <input type= "radio" value = '{{ i }}' name = "{{data[current_question]['id']}}" />{{ i }}
          </div>
      {% endfor %}
    <input type = "submit" value="submit"/>
    </fieldset>
    </form>
</body>

</html>